<form [formGroup]="myFormFather">
  <fancy-input-angular
    id="name"
    name="name"
    [nameForm]="myFormFather"
    disabled=""
    value=""
    src="https://image.flaticon.com/icons/svg/74/74472.svg"
    type="text"
    error="لطفا خطلا خود را وارد نمایید"
    placeholder="نام"
    label="وارد نمودن نام اجباری می باشد"
  ></fancy-input-angular>

  <fancy-input-angular
    id="lastname"
    name="lastname"
    [nameForm]="myFormFather"
    disabled=""
    value=""
    src="https://image.flaticon.com/icons/svg/74/74472.svg"
    type="text"
    error=""
    placeholder="نام خانوادگی"
    label="وارد نمودن نام خانوادگی اجباری می باشد"
></fancy-input-angular>

<fancy-input-angular
    id="fname"
    name="fname"
    [nameForm]="myFormFather"
    disabled=""
    value=""
    src="https://image.flaticon.com/icons/svg/126/126327.svg"
    type="text"
    error=""
    placeholder="نام پدر"
    label="وارد نمودن نام پدر اجباری می باشد"
></fancy-input-angular>
</form>



<!-- <div>
  {{myFormFather.value | json}}
</div> -->




